@model TopicFormModel

@{
    ViewBag.Title = "Промени подраздел";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Edit">
            <div class="mb-3">
                <label asp-for="Name" class="form-label">Име на подраздел</label>
                <input asp-for="Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SubjectId"></label>
                <select asp-for="SubjectId" class="form-control">
                    @foreach (var subject in Model.Subjects)
                    {
                        if (subject.Id == Model.SubjectId)
                        {
                            <option value="@subject.Id" selected="selected">@subject.Name</option>
                        }
                        else
                        {
                            <option value="@subject.Id">@subject.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="SubjectId" class="small textdanger"></span>
            </div>
            <div class="mb-3 text-center">
                <input class="btn btn-primary" type="submit" value="Промени" />
            </div>
        </form>
    </div>
</div>